<p id="notice"><%= notice %></p>

<p>
  		<strong>Username:</strong>
  		<% if @user != nil %>
  		<%= @user.username %>
  		<% else %>
  			<p>Anonymous</p>
  		<% end %>
</p>

<p>
  <strong>Stories:</strong>
  <% @user.stories.each do |story| %>
  	<h4><%= story.name %></h4><br>
  	<%= story.body %>
  <% end %>
</p>

<%= link_to 'Back to stories', stories_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 1100px; height: 400px;'></div>
</div>

<%= gmaps4rails(@json) %>