<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p><img src="<%= @story.url %>" width=300px /></p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 1100px; height: 400px;'></div>
</div>

<%= gmaps4rails(@json) %>