<div class="story">
  <div class="story-container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>User:</strong>
      <% if @story.user %>
      <%= link_to @story.user.username, @story.user %>
      <% else %>
      Anonymous
      <% end %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @story.name || @story.town %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @story.body %>
    </p>

    <div class="links">
      <% if user_signed_in? && current_user == @story.user %>
      <%= link_to 'Edit', edit_story_path(@story) %> |
      <%= link_to 'Destroy', @story, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Back', stories_path %>
      <% else %>
      <%= link_to 'Back', stories_path %>
      <% end %>
    </div>
  </div>


  <div id="map" class="story-map" style='width: 600px; height: 400px;'></div>
</div>

<%#= gmaps4rails(@json) %>

<%= gmaps("markers" => {"data" => @json},
"map_options" => {"type" => "TERRAIN", :raw => '{mapTypeControlOptions: {mapTypeIds: ["terrain",google.maps.MapTypeId.TERRAIN], style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}}'}) %>

</div>

<div class="comments">
  <h3>Comments</h3>
  <%= render 'stories/comment' %>

  <h4>Add Comment</h4>
  <%= form_for([@story, @story.comments.build]) do |f| %>
    <% if current_user %>
    <%= f.label :name %>
      <%= f.hidden_field :name, :value => current_user.username %>
    <% else %>
  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p><%= f.submit %></p>
  <% end %>

</div>