<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link rel="javascript" type="text/js" href="javascripts/tile.stamen.js">
      <title>Rethinking Home</title>
</head>
<body>
<h1><%= link_to 'Rethinking Home', root_path %></h1>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
<div class="container">
<%= render 'layouts/navbar' %>
<%= yield %>
<%= yield :scripts %>
</div>
</body>
</html>